<nav class="navbar">
  <div class="navbar-left">
    <button class="menu-btn" (click)="onToggleSidebar()">
      <i class="material-icons">menu</i>
    </button>
    <h1 class="brand">Store Manager Dashboard</h1>
  </div>
  <div class="navbar-right">
    <div class="user-menu">
      <div class="user-info">
        <i class="material-icons">account_circle</i>
        <span class="user-name">{{ getUserDisplayName() }}</span>
        <span class="user-role" *ngIf="currentUser">{{ currentUser.role }}</span>
      </div>
      <button class="logout-btn" (click)="logout()" title="Logout">
        <i class="material-icons">logout</i>
      </button>
    </div>
  </div>
</nav>
